/* todo: delete file if not needed */
.general-text{
    font-size: 0.80rem;
}

.title-text{
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1rem !important;
    color: rgb(142, 190, 218);    
}

.subtitle-text{
    padding-left: 1rem;
    padding-top: 1rem;
    color: rgb(100, 164, 173);
    font-size: 0.90rem !important;
}